VITE_SUPABASE_URL=https://swvptqvnklmplywcihvv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3dnB0cXZua2xtcGx5d2NpaHZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3NjQ4NjMsImV4cCI6MjA3MzM0MDg2M30.YS81E38NCjpPYsF87Df9foFTHn3W_oUlmh784vh7fXc
